@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Bree+Serif);

body {
    text-align: center;
}

h3, h4 {
    display: inline;
}

div[class^='col-sm'] {
    padding: 20px;
}

.center-block {
    text-align: center;
}

#input-outer-wrapper {
    margin-left: 20%;
    margin-right: 20%;    
    text-align: center;
}

#input-outer-wrapper {
    text-align: left;
}

select {
    vertical-align: top;
}