{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Erhmagerd</title>
</head>
<body>

ADD QUOTE
<form action="/quotations/" method="post" id="quote_form">
    {% csrf_token %}
    Text: <input type="text" name="text"><br />
    Author: <select name="author" id="author_select_1">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select><br/>
    Subject: <select name="subject" id="subject_select_1">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select><br/>    
    <input type="submit" name="add" value="add">
</form>
<br />

ADD AUTHOR
<form action="/authors/" method="post" id="author_form">
    {% csrf_token %}
    First Name: <input type="text" name="first_name"><br />
    Last Name: <input type="text" name="last_name"><br />    
    <input type="submit" name="add" value="add">
</form>
<br />

ADD SUBJECT
<form action="/subjects/" method="post" id="subject_form">
    {% csrf_token %}
    Name: <input type="text" name="name"><br />
    <input type="submit" name="add" value="add">
</form>
<br />

QUOTES
<form action="/quotations/" method="get" id="quote_select_form">
    {% csrf_token %}
    Author: <select name="author" id="author_select_2">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select><br/>
    Subject: <select name="subject" id="subject_select_2">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select><br/>    
    <input type="submit" name="filter" value="filter">
</form>
<div class="container">
<ul id="quotelist"></ul>
</div>

<script src="{% static 'quotationsAPI/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'quotationsAPI/js/jquery.cookie.js' %}"></script>
<script src="{% static 'quotationsAPI/js/app.js' %}"></script>
</body>
</html>